{% extends "base.html" %}

{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}

<br>
<br>
<br>


<div class="container">
    <div class="jumbotron">
        <h1>Fraud Prevention</h1>
        <h3>Fraud is a bummer....</h3>
        <p><a class="btn btn-lg" id="jumbotron-button" href="/dashboard" role="button">Go to Dashboard</a></p>
    </div>


</div>

    <p class="important">
{% endblock %}
