{% extends "base.html" %}

{% block title %}Log{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}

<br>
<br>
<br>


<div class="container">
    <div class="jumbotron">
        <h1>LOG</h1>
        <h3>{{ data }}</h3>
        <p><a class="btn btn-lg" id="jumbotron-button" href="/personalize" role="button">Start the Process Over Again</a></p>
    </div>


</div>

    <p class="important">
{% endblock %}
