{% extends "base.html" %}

{% block title %}Personalize{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
    <div class="container title-text">
        Help us personalize your predictions!
    </div>
    <div class="jumbotron">
        <form class="form-inline" action="/write" method="POST">
          <label for="benefit">Benefit of Dealing with True Cases of Fraud: </label>
          <div class="form-group">
            <input type="text" id="benefit" name="benefit" value=2500 class="form-control">
          </div>
          $

          <br>
          <br>

          <label for="cost">Cost of Missing Fraud: </label>
          <div class="form-group">
            <input type="text" id="cost" name="cost" value=300 class="form-control">
          </div>
          $
          <br>
          <br>
          <input class="btn btn-lg submit-button" type="submit" action="/score" value = "Customize Threshold"/>
        </form>



    </div>


    </div>

    <p class="important">






{% endblock %}
